* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0a192f;
    color: #8892b0;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

.container {
    width: 550px;
}


/* typography */

h2, h3 {
    color: #ccd6f6;
}

h1 {
    font-family: "Roboto Mono", monospace;
    color: #64ffda;
    font-size: 16px;
    font-weight: 300;
}

h2 {
    font-size: 75px;
    margin: 30px 0;
}

.h2-2 {
    color: #8892b0;
    display: block;
}

p {
    line-height: 25px;
}

.green-text {
    color: #64ffda;
}


/* heading */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 50px;
}

.pfp {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.nav {
    font-family: "Roboto Mono", monospace;
    list-style: none;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 25px;
}

.nav-item, .btn {
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
    font-weight: 300;
}

.nav-item {
    color: #ccd6f6;
}

.nav-item:hover, .nav-item:focus {
    color: #64ffda;
}

.btn {
    color: #64ffda;
    border: 1px solid #64ffda;
    border-radius: 5px;
    padding: 8px 15px;
    transition: color 0.3s;
    transition: border 0.3s;
}

.btn:hover, .btn:focus {
    color: #ccd6f6;
    border: 1px solid #ccd6f6;
}

.hero {
    margin: 100px 0 500px 225px;
}


/* footer */

.icon-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: fixed;
    bottom: 50px;
    left: 50px;
}

.icon {
    text-decoration: none;
    color: #ccd6f6;
    transition: color 0.3s;
    font-size: 24px;
}

.icon:hover, .icon:focus {
    color: #64ffda;
}
